on:
  push:
    branches: [master]
  pull_request:
    branches:
     - master

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['pypy-2.7', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9']
    name: Python ${{ matrix.python-version }} sample
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          pip install mypy
          pip install -r requirements.txt
      - name: Lint with pylint
        run : |
          pylint sciencer
      - name: Static Type Checking with mypy
        run : |
          mypy --install-types --non-interactive sciencer
  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '2.', '3.x', 'pypy-2.7', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9' ]
    name: Python ${{ matrix.python-version }} sample
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy
          pip install pytest
          pip install -r requirements.txt
      - name: Static Type Checking of tests with mypy
        run : |
          mypy --install-types --non-interactive tests
      - name: Test Code
        run : |
          pytest tests